section {
  padding: calc(var(--basic_size)*18) 0;
  margin: auto;
}

/* recruiment styling */
.recruitment .main_part {
  padding-top: calc(var(--basic_size)*3);
}

.titles {
  margin-top: calc(var(--basic_size)*4);
}

.recruitment .main_part .titles ul li {
  position: relative;
  font-size: 25px;
  font-weight: calc(var(--basic_font_weight)*5);
  margin-bottom: 8px;
  text-align: left;
}

.recruitment .titles ul li {
  color: var(--white-color);
}

.recruitment .titles ul li span{
  color: var(--yellow-color);
}

.recruitment .max_title {
  font-size: var(--font_title_size);
  text-align: center;
  font-weight: bolder;
  color: var(--yellow-color);
}

.recruitment .sub-title {
  text-align: center;
  margin-bottom: var(--basic_size);
  color: var(--yellow-color);
  font-size: calc(var(--basic_size)*2);
}

.recruitment .max-width .recruitment-content {
  display: flex;
  margin-top: calc(var(--basic_size)*4);
}

.recruitment .recruitment-content .column-right, .recruitment .recruitment-content  .column-left  {
  width: 50%;
}

.recruitment .recruitment-content .column-left img {
  border-radius: 25px;
}

.recruitment .recruitment-content .column-right .title_2 {
  font-size: calc(var(--basic_size)*2);
  margin-bottom: var(--basic_size);
}

.recruitment .recruitment-content .column-right .title_2 a {
  color: var(--yellow-color);
}

.recruitment .recruitment-content .column-right ul li {
  color: var(--white-color);
  margin-bottom: 8px;
  text-align: left;
  font-size: calc(var(--basic_size)*2);
}

.recruitment .recruitment-content .column-right ul li span {
  color: var(--yellow-color);
}

.recruitment .fa-ul li {
  color: var(--yellow-color);
}

/* responsive styling */
@media (max-width: 1300px) {
  .recruitment .max-width .recruitment-content {
    display: block;
    text-align: center;
    margin: auto;
  }
  .recruitment .max-width .recruitment-content .column-right{
    width: 100%;
    text-align: center;
  }
  .recruitment .max-width .recruitment-content .column-left{
    width: 100%;
    text-align: center;
  }
  .recruitment .recruitment-content .column-right ul li{
    text-align: center;
  }
}
