section {
  padding: calc(var(--basic_size)*18) 0;
}

/* recruiment styling */
.recruitment .main_part {
  display: flex;
  padding-top: calc(var(--basic_size)*3);
}

.titles {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--basic_size)*4);
}

.recruitment .titles ul li {
  position: relative;
  font-size: 25px;
  font-weight: calc(var(--basic_font_weight)*5);
  margin-bottom: 8px;
  text-align: center;
}

.recruitment .title span {
  color: var(--yellow-color);
}

.recruitment .photo_career_2 img {
  display: block;
  margin: auto;
  margin-top: calc(var(--basic_size)*-21);
}

.recruitment .recruitment-content {
  display: flex;
  margin-top: calc(var(--basic_size)*10);
}

.recruitment .max_title {
  font-size: var(--font_title_size);
  text-align: center;
  font-weight: bolder;
  color: var(--yellow-color);
}

.recruitment .sub-title {
  text-align: center;
  margin-bottom: var(--basic_size);
  color: var(--yellow-color);
  font-size: calc(var(--basic_size)*2);
}

.recruitment .column-right {
  width: 50%;
}

.recruitment .column-left {
  width: 50%;
}

.recruitment .recruitment-content .column-left img {
  border-radius: 25px;
  height: calc(var(--basic_size)*30);
  width: calc(var(--basic_size)*40);
  margin-left: calc(var(--basic_size)*7);
  margin-top: calc(var(--basic_size)*4);
}

.recruitment .recruitment-content .column-right {
  margin-top: calc(var(--basic_size)*6);
}

.recruitment .recruitment-content .column-right .title_2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.recruitment .recruitment-content .column-right .title_2 a {
  color: var(--yellow-color);
}

.recruitment .recruitment-content .column-right ul li {
  color: var(--white-color);
  margin-bottom: 8px;
  text-align: left;
}

.recruitment .recruitment-content .column-right ul li span {
  color: var(--yellow-color);
}

.recruitment .fa-ul li {
  color: var(--yellow-color);
}
