@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --yellow-color: hsl(42 100% 56%);
  --black-color: #111;
  --white-color: #fff;
  --basic_size: 10px;
  --font_title_size: 44px;
  --font_subtitle_size: 20px;
  --basic_font_weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: var(--black-color);
  color: var(--white-color);
}

.max-width {
  max-width: calc(var(--basic_size)*130);
  padding: 0 calc(var(--basic_size)*8);
  margin: auto;
}

.max-width-navbar {
  max-width: calc(var(--basic_size)*130);
  padding: 0 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(0 10% 10%);
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border: 2px solid var(--white-color);
  border-radius: calc(var(--basic_size)*2);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0 10% 10%);
}

::-webkit-scrollbar-button {
  border: calc(var(--basic_size)*3) solid var(--white-color);
  background-color: var(--black-color);
  border-radius: calc(var(--basic_size)*3);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: calc(var(--basic_size)*3) 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: calc(var(--basic_size)*1.5) 0;
  background: var(--yellow-color);
}

.navbar .logo a {
  color: var(--white-color);
  font-size: calc(var(--basic_size)*3.5);
  font-weight: calc(var(--basic_font_weight)*6);
}

.navbar .logo a span {
  color: var(--yellow-color);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--black-color);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: var(--white-color);
  font-size: 18px;
  font-weight: calc(var(--basic_font_weight)*5);
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar.sticky .menu li a {
  color: var(--black-color);
}

.navbar .menu li a:hover {
  color: var(--yellow-color);
}

.navbar.sticky .menu li a:hover {
  color: var(--white-color);
}

/* scroll-uo bytton styling */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: calc(var(--basic_size)*3);
  bottom: calc(var(--basic_size)*3);
  text-align: center;
  line-height: 45px;
  color: var(--white-color);
  z-index: 9999;
  font-size: calc(var(--basic_size)*3);
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(150%);
}

/* footer styling */
footer {
  background-color: var(--yellow-color);
  font-weight: bold;
  color: var(--black-color);
}

/* responsive styling */
@media (max-width: 1100px) {
  .menu-btn {
    display: block;
    z-index: 999;
    padding-right: 50px;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .logo {
    padding-left: 50px;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
