/* common for partners and cooperation */
.max_title,
.max_title_2 {
  font-size: var(--font_title_size);
  text-align: center;
  font-weight: bolder;
  margin-bottom: calc(var(--basic_size) * 5);
  color: var(--yellow-color);
}

/* cooperation styling */
.cooperation {
  background-color: var(--black-color);
  padding-bottom: calc(var(--basic_size) * 5);
}

.max_title {
  padding-top: calc(var(--basic_size) * 15);
}
.cooperation .max-width {
  padding: auto;
  text-align: center;
}
.cooperation .max-width .cooperation-content {
  margin: auto;
  max-width: 900px;
  min-height: 420px;
  background-image: url("images/partnership/1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: calc(var(--basic_size) * 3);
  padding-top: calc(var(--basic_size) * 5);
  padding-left: calc(var(--basic_size) * 15);
  padding-right: calc(var(--basic_size) * 15);
}

.cooperation .contact-information {
  color: var(--black-color);
  font-size: calc(var(--basic_size) * 2.5);
  font-weight: calc(var(--basic_font_weight) * 8);
}

.cooperation .button a button {
  font-size: calc(var(--basic_size) * 4);
  background-color: var(--yellow-color);
  border-radius: calc(var(--basic_size) * 2);
  margin-top: calc(var(--basic_size) * 10);
  margin-bottom: calc(var(--basic_size) * 3);
  text-align: center;
  font-weight: bolder;
  font-family: Ubuntu, sans-serif;
  border: 5px solid var(--white-color);
}

.cooperation .button a :hover {
  background-color: var(--black-color);
  border-radius: calc(var(--basic_size) * 2);
  color: var(--white-color);
  cursor: pointer;
  border: 5px solid var(--yellow-color);
}

.cooperation .contact-information span a {
  color: blue;
}

/* partners styling */
.partners {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
}

.max_title_2 {
  padding-top: calc(var(--basic_size) * 5);
}

.partners table {
  border-spacing: var(--basic_size);
}

.partners table td {
  text-align: center;
}

.partners .bos_bank {
  padding-left: 7px;
}

.partners .model-art {
  padding-top: var(--basic_size);
}

.partners .nanopro {
  padding-top: 8px;
}

.partners .kisielewski {
  padding-top: 15px;
}

.partners .hobby {
  padding-top: var(--basic_size);
}

.partners .enel {
  padding-top: 5px;
}

/* responsive styling */
@media (max-width: 1300px) {
  .cooperation .max-width {
    text-align: center;
    margin: auto;
  }

  .cooperation .max-width .cooperation-content {
    display: block;
    max-height: 400px;
  }

  .cooperation .column-left {
    width: 100%;
    text-align: center;
  }

  .cooperation .column-left img {
    width: 80%;
  }

  .cooperation .column-right {
    margin-top: calc(var(--basic_size) * 2);
    width: 100%;
    text-align: center;
  }

  .cooperation .column-right .contact-information {
    text-align: center;
  }

  .partners .max-width {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 1000px) {
  .partners img {
    max-width: 180px;
  }
}
@media (max-width: 900px) {
  .partners img {
    max-width: 150px;
  }
}
@media (max-width: 800px) {
  .partners img {
    max-width: 130px;
  }
}
@media (max-width: 650px) {
  .partners img {
    max-width: 80px;
  }
  .cooperation-content {
    padding: 80px 0px !important;
  }
  .partners {
    margin-left: 10%;
  }
  .cooperation {
    margin-left: 10%;
  }
}
@media (max-width: 430px) {
  .partners img {
    max-width: 70px;
  }
  .cooperation-content {
    min-width: 250px;
  }
  .cooperation .button a button {
    margin-top: 20px;
  }
  .partners {
    margin-left: 20%;
  }
  .cooperation {
    margin-left: 10%;
  }
}
