section {
  padding: calc(var(--basic_size)*12) 0;
}

/* cooperation styling */
.cooperation {
  background-color: var(--black-color);
  height: 850px;
}

.cooperation .max-width .cooperation-content {
  display: flex;
  width: calc(var(--basic_size)*130);
}

.cooperation .column-left {
  width: 50%;
}

.cooperation .column-left img {
  border-radius: calc(var(--basic_size)*3);
  margin-left: calc(var(--basic_size)*4);
}

.cooperation .column-right {
  width: 50%;
  margin-left: calc(var(--basic_size)*2);
  margin-top: calc(var(--basic_size)*12);
  text-align: center;
}

.cooperation .column-right .contact-information {
  color: var(--white-color);
  font-size: 25px;
}

.cooperation .column-right .button a button {
  font-size: calc(var(--basic_size)*4);
  background-color: var(--yellow-color);
  border-radius: calc(var(--basic_size)*2);
  margin-top: calc(var(--basic_size)*3);
  text-align: center;
  font-weight: bolder;
  font-family: Ubuntu, sans-serif;
  border: 5px solid var(--white-color);
}

.cooperation .column-right .button a :hover {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  border: 5px solid var(--yellow-color);
}

.cooperation .contact-information span a {
  color: var(--yellow-color);
}

/* partners styling */
.partners {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
}

.max_title, .max_title_2 {
  font-size: var(--font_title_size);
  text-align: center;
  font-weight: bolder;
  margin-bottom: calc(var(--basic_size)*5);
  color: var(--yellow-color);
}

.max_title {
  padding-top: calc(var(--basic_size)*15);
}

.max_title_2 {
  padding-top: calc(var(--basic_size)*5);
}

.partners table {
  border-spacing: var(--basic_size);
}

.partners table tr {
  height: calc(var(--basic_size)*12);
}

.partners table td {
  text-align: center;
}

.partners .boś_bank {
  padding-left: 7px;
}

.partners .model-art {
  padding-top: var(--basic_size);
}

.partners .nanopro {
  padding-top: 8px;
}

.partners .kisielewski {
  padding-top: 15px;
}

.partners .hobby {
  padding-top: var(--basic_size);
}

.partners .enel {
  padding-top: 5px;
}
