section {
  padding: calc(var(--basic_size)*10) 0;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: var(--font_title_size);
  font-weight: bolder;
  font-family: 'Ubuntu', sans-serif;
  margin-top: calc(var(--basic_size)*-8);
  margin-bottom: var(--basic_size);
}

section .subtitle {
  text-align: center;
  color: var(--yellow-color);
  font-family: monospace;
  font-size: var(--font_subtitle_size);
  margin-bottom: calc(var(--basic_size)*6);
  padding-bottom: calc(var(--basic_size)*3);
}

/* home section styling */
.home {
  display: flex;
  background: url("images\\klarysko.png") no-repeat center;
  height: 100vh;
  color: var(--white-color);
  min-height: calc(var(--basic_size)*30);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 27px;
  margin-top: calc(var(--basic_size)*-20);
  margin-left: calc(var(--basic_size)*-8);
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: calc(var(--basic_font_weight)*6);
  margin-left: -83px;
}

.home .home-content .text-3 {
  font-size: calc(var(--basic_size)*4);
  margin: 5px 0;
  margin-left: calc(var(--basic_size)*-8);
}

.home .home-content .text-3 span {
  color: var(--yellow-color);
  font-weight: calc(var(--basic_font_weight)*5);
}

.about {
  height: 820px;
  min-height: 750px;
  background-color: hsl(215 100% 99%);
  color: var(--black-color);
}

.about .subtitle span {
  color: var(--black-color);
}

.about .about-content {
  margin-top: calc(var(--basic_size)*-5);
}

.about .about-content .column-left {
  width: 50%;
  padding-top: calc(var(--basic_size)*7);
}

.about .about-content img {
  height: calc(var(--basic_size)*25);
  width: calc(var(--basic_size)*25);
  object-fit: cover;
  border-radius: 15px;
}

.about .about-content .column-right {
  width: 50%;
}

.about .about-content .column-right .text {
  font-size: calc(var(--basic_size)*3);
  font-weight: 600;
  margin-bottom: var(--basic_size);
}

.about .about-content .column-right .text span {
  color: hsl(38 100% 56%)
}

.about .about-content .column-right p {
  text-align: justify;
  font-size: calc(var(--basic_size)*2);
}

/* contact section styling */
.contact {
  background-color: var(--black-color);
  color: var(--white-color);
  min-height: calc(var(--basic_size)*75);
}

.contact .title {
  margin-top: calc(var(--basic_size)*-2);
}

.contact .subtitle span {
  color: var(--white-color);
}

.contact .contact-content {
  display: flex;
  font-size: calc(var(--basic_size)*2);
  font-weight: 300;
  margin-bottom: calc(var(--basic_size)*2);
  text-align: left;
}

.contact .contact-content .column-left {
  width: 34%;
}

.contact .contact-content .column-middle {
  width: 28%;
}

.contact .contact-content .column-right {
  width: 36%;
}

.contact .contact-content .text_2 {
  margin-bottom: calc(var(--basic_size)*6);
  color: var(--white-color);
}

.contact .contact-content .row {
  display: flex;
  height: calc(var(--basic_size)*8);
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: calc(var(--basic_size)*4);
}

.contact .contact-content .row i {
  font-size: calc(var(--basic_size)*3);
}

.contact .contact-content .row .info .head {
  font-weight: 800;
  color: var(--yellow-color);
}

.contact .contact-content .row .info a {
  color: var(--white-color);
}

.contact .contact-content .column-right .row .info .head_2 {
  font-weight: 800;
  color: var(--yellow-color);
  padding-top: 28px;
  background: red dotted 3px;
}
